* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}

.header {
    background-color: #353640;
    display: flex;
    padding: 30px;
    font-weight: bold;
}

.logo {
    width: 40px;
}

.header-links, .links-left, .links-right {
    display: flex;
}

.header-links {
    width: 100%;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    max-width: 50%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-middle, .footer-right {
    width: 33%;
    margin: 30px;
}

.footer-left-links, .footer-middle-links, .footer-right-links {
    display: flex;
    flex-direction: column;
}

.footer-left-links > a, .footer-middle-links > a, .footer-right-links > a {
    padding:  20px 0;
}
