* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}

.header {
    background-color: #353640;
    display: flex;
    padding: 30px;
    font-weight: bold;
}

.logo {
    width: 40px;
}

.header-links, .links-left, .links-right {
    display: flex;
}

.header-links {
    width: 100%;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}










.main {
    max-width: 45%;
    margin: 30px auto;
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.main-heading {
    color: #DC2626;
    padding: 5px 0;
    border-bottom: 2px solid black;
}

.main-current-course {
    padding: 20px 0;
    color: #A5A8AE;
}

.main-current-unit {
    padding: 5px 0;
}

button {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background-color: #DC2626;
    color: white;
    font: inherit;
	cursor: pointer;
	outline: inherit;
    border: none;
}









.footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-middle, .footer-right {
    width: 33%;
    margin: 30px;
}

.footer-left-links, .footer-middle-links, .footer-right-links {
    display: flex;
    flex-direction: column;
}

.footer-left-links > a, .footer-middle-links > a, .footer-right-links > a {
    padding:  10px 0;
}

.footer-title {
    color: #A5A8AE;
    padding: 10px 0;
}
